.recipe-card{
    max-width: 379px;
    border-radius: 11px;
    padding: 23px;
    border: 1px #393e46 solid;
}
.recipie-img-wrapper{
    width: 50%;
}
.recipe-img{
    width: 200%;
    border-radius: 20px;
}
.recipie-flag-wrapper{
    border-radius: 20px;
}
.recipe-flag{
    width: 15%;
    height: 15%;
    margin-bottom: 1em;
}
.recipie-link-todetails a{
    margin-top: 10px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #029da4;
    color: #029da4;
    margin: 0-.25rem;
    padding: 0.25rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.recipie-link-todetails a:hover{
  box-shadow: inset 305px 0 0 0 #029da4;
  color: #FFFF;
}