header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #453c67;
}
header a{
    color: #6eccaf;
    padding: 1.5em;
    text-decoration: none;
}
