.Banner-video {
  width: 100vw;
  height: 47vh;
  object-fit: cover;
}

.Banner-header h1 {
  font-size: 51px;
  color: #ffff;
  margin: 0;
}
.Banner-p {
  color: #ffff;
  font-size: 23px;
  margin-bottom: 37px;
}
.Banner-header {
  position: absolute;
  z-index: 1;
  top: 21%;
  left: 21%;
}
.Banner-button {
  text-decoration: none;
  border: 2px #76f9ff solid;
  border-radius: 8px;
  padding: 5px;
  color: #76f9ff;
}

