.details-wrapper{
margin: 2em;
}
.details-name{
    text-align: center;
}
.details-images{
    display: flex;
    justify-content: center;
}
.details-image{
    max-width: 400px;
}
.details-flag{
    width: 15%;
    height: 15%;
    border-radius: 20px;
}