.details-wrapper {
  margin: 2em;
}
.details-name {
  text-align: center;
}
.details-info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 75%;
  margin: 1em;
}
.details-images {
  position: relative;
  display: flex;
  justify-content: center;
}
.details-image {
  min-width: 200px;
  height: 400px;
}
.details-flag {
  max-width: 100%;
  height: 10%;
  margin-left: 1.5em;
}
.details-additional-info {
  margin-left: 1em;
}
.details-label {
  font-weight: bolder;
  display: block ruby;
}
.details-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-instructions {
  margin-left: 15em;
  margin-right: 30%;
}
