.recipies-search {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3em;
}
.recipies-search label {
  display: flex;
  flex-direction: column;
}
.title{
  text-align: center;
}
.recipies-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px;
  margin: 50px auto;
}
